<div class="container">
  <div class="row mt-4" *ngIf="productList.length">
    <div class="col-8">
      <div class="row">
        <div *ngFor="let item of productList" class="card col-4 mt-2 mr-2">
          <img class="card-img" src="{{ item.product_image }}" alt="Vans" />
          <div class="d-flex justify-content-end">
            <a href="#" class="card-link text-danger like">
              <i class="fa fa-heart"></i>
            </a>
          </div>
          <div class="card-body">
            <h4 class="card-title">{{ item.product_name }}</h4>
            <h6 class="card-subtitle mb-2 text-muted">Style: VA33TXRJ5</h6>
            <p class="card-text">
              {{ item.product_desc }}
            </p>
            <div class="options d-flex flex-fill">
              <select class="custom-select mr-1">
                <option selected>Color</option>
                <option value="1">Green</option>
                <option value="2">Blue</option>
                <option value="3">Red</option>
              </select>
              <select class="custom-select ml-1">
                <option selected>Size</option>
                <option value="1">41</option>
                <option value="2">42</option>
                <option value="3">43</option>
              </select>
            </div>
            <div class="buy d-flex justify-content-between align-items-center">
              <div class="price text-success">
                <h5 class="mt-4">${{ item.price }}</h5>
              </div>
              <div
                class="btn btn-danger mt-3"
                (click)="removeFromCart(item.id)"
              >
                <i class="fa fa-shopping-cart cart-dimensions"></i> Remove from
                Cart
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="order_summary_body">
        <div class="text-center pb-3">
          <button class="btn proceed_payment" (click)="proceedToPay()">
            Proceed to pay
          </button>
        </div>
        <h3>OrderSummary</h3>
        <hr />
        <div class="total_amount_class pb-3">
          <span class="float-left">Order Total:</span
          ><span class="float-right">{{ orderTotal }}</span>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!productList.length">No items are available</div>
</div>
