<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">SampleCart</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class= "ml-auto d-flex">
    <form class="form-inline" [formGroup]="navForm">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
    <div class="color-white ml-2 user-navbar-block">
      <div class="color-white">
        User
        <div class="user-navbar">
          <div [routerLink]="['/account-settings']" class="pl-2 pt-2">
            User Settings
          </div>
        </div>
      </div>
    </div>
  </div>
    <div [routerLink]="['/cart']" class="pl-2">
      <i class="fa fa-shopping-cart cart-dimensions" aria-hidden="true"></i>
      <span class="cart-count">{{ cartCount }}</span>
    </div>
  </div>
</nav>
